.frame11-container {
  min-height: 100vh;
}
.frame11-frame {
  width: 100%;
  height: 1007px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(80, 96, 86, 1);
}
.frame11-frame01 {
  top: 221px;
  left: 31px;
  width: 178px;
  height: 356px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group1865 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 287px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group1862 {
  top: 262px;
  left: 0px;
  width: 161px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-frame02 {
  top: 11px;
  left: 0px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame03 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star26 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star27 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star28 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star29 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star30 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text02 {
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-frame04 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 246px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-rectangle1993 {
  top: 193px;
  left: 0px;
  width: 178px;
  height: 32px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 0 0 10px 10px;
}
.frame11-i-m-a-g-e1643791288741287901 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 194px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px 10px 0 0;
}
.frame11-frame05 {
  top: 197px;
  left: 9px;
  width: 54px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-s-v-g {
  top: 16px;
  left: 21px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.frame11-text06 {
  top: 13px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame06 {
  top: 232px;
  left: 1px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text08 {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame07 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star261 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star271 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star281 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star291 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star301 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text10 {
  top: 305px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-text12 {
  top: 291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-vector {
  top: 335px;
  left: 1px;
  width: 18px;
  height: 21px;
  position: absolute;
}
.frame11-vector01 {
  top: 336px;
  left: 31px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.frame11-frame08 {
  top: 221px;
  left: 223px;
  width: 178px;
  height: 356px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group18651 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 287px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group18621 {
  top: 262px;
  left: 0px;
  width: 161px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-frame09 {
  top: 11px;
  left: 0px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text14 {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame10 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star262 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star272 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star282 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star292 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star302 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text16 {
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-frame11 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 246px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-rectangle19931 {
  top: 193px;
  left: 0px;
  width: 178px;
  height: 32px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 0 0 10px 10px;
}
.frame11-i-m-a-g-e16437912887412879011 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 194px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px 10px 0 0;
}
.frame11-frame12 {
  top: 197px;
  left: 9px;
  width: 54px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-s-v-g1 {
  top: 16px;
  left: 21px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.frame11-text20 {
  top: 13px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame13 {
  top: 232px;
  left: 1px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text22 {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame14 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star263 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star273 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star283 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star293 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star303 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text24 {
  top: 305px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-text26 {
  top: 291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-vector02 {
  top: 335px;
  left: 1px;
  width: 18px;
  height: 21px;
  position: absolute;
}
.frame11-vector03 {
  top: 336px;
  left: 31px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.frame11-frame15 {
  top: 606px;
  left: 30px;
  width: 178px;
  height: 356px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group18652 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 287px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group18622 {
  top: 262px;
  left: 0px;
  width: 161px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-frame16 {
  top: 11px;
  left: 0px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text28 {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame17 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star264 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star274 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star284 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star294 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star304 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text30 {
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-frame18 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 246px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-rectangle19932 {
  top: 193px;
  left: 0px;
  width: 178px;
  height: 32px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 0 0 10px 10px;
}
.frame11-i-m-a-g-e16437912887412879012 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 194px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px 10px 0 0;
}
.frame11-frame19 {
  top: 197px;
  left: 9px;
  width: 54px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text32 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-s-v-g2 {
  top: 16px;
  left: 21px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.frame11-text34 {
  top: 13px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame20 {
  top: 232px;
  left: 1px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text36 {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame21 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star265 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star275 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star285 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star295 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star305 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text38 {
  top: 305px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-text40 {
  top: 291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-vector04 {
  top: 335px;
  left: 1px;
  width: 18px;
  height: 21px;
  position: absolute;
}
.frame11-vector05 {
  top: 336px;
  left: 31px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.frame11-frame22 {
  top: 606px;
  left: 222px;
  width: 178px;
  height: 356px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group18653 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 287px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-group18623 {
  top: 262px;
  left: 0px;
  width: 161px;
  height: 25px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-frame23 {
  top: 11px;
  left: 0px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text42 {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame24 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star266 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star276 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star286 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star296 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star306 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text44 {
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-frame25 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 246px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-rectangle19933 {
  top: 193px;
  left: 0px;
  width: 178px;
  height: 32px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 0 0 10px 10px;
}
.frame11-i-m-a-g-e16437912887412879013 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 194px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px 10px 0 0;
}
.frame11-frame26 {
  top: 197px;
  left: 9px;
  width: 54px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text46 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-s-v-g3 {
  top: 16px;
  left: 21px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.frame11-text48 {
  top: 13px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame27 {
  top: 232px;
  left: 1px;
  width: 104px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame11-text50 {
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 28px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame28 {
  top: 3.1111111640930176px;
  left: 0px;
  width: 72.9552230834961px;
  height: 10.88888931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-star267 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star277 {
  top: -5.298190686175985e-8px;
  left: 15.522388458251953px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star287 {
  top: -5.298190686175985e-8px;
  left: 31.044776916503906px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star297 {
  top: -5.298190686175985e-8px;
  left: 46.56716537475586px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-star307 {
  top: -5.298190686175985e-8px;
  left: 62.08955383300781px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.frame11-text52 {
  top: 305px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-text54 {
  top: 291px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-vector06 {
  top: 335px;
  left: 1px;
  width: 18px;
  height: 21px;
  position: absolute;
}
.frame11-vector07 {
  top: 336px;
  left: 31px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.frame11-frame29 {
  top: 18px;
  left: 31px;
  width: 13.333333969116211px;
  height: 15px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-vector08 {
  top: 9.99993896484375px;
  left: 0px;
  width: 13px;
  height: 5px;
  position: absolute;
}
.frame11-vector09 {
  top: 0px;
  left: 3.3330078125px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.frame11-text56 {
  top: 16px;
  left: 55px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-group1855 {
  top: 18px;
  left: 109px;
  width: 293.34326171875px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-text58 {
  top: 4px;
  left: 210px;
  color: rgba(255, 255, 255, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-text60 {
  top: 4px;
  color: rgba(255, 255, 255, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-text62 {
  top: 4px;
  left: 63px;
  color: rgba(255, 255, 255, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-text64 {
  top: 4px;
  left: 128px;
  color: rgba(255, 255, 255, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-rectangle1988 {
  top: 0px;
  left: 212px;
  width: 80px;
  height: 20px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
}
.frame11-text66 {
  top: 65px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-text68 {
  top: 66px;
  left: 150px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.frame11-text70 {
  top: 66px;
  left: 129px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-text71 {
  top: 92px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-text73 {
  top: 92px;
  left: 105px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-rectangle1990 {
  top: 125px;
  left: 30px;
  width: 371px;
  height: 30px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 8px;
}
.frame11-group1854 {
  top: 131px;
  left: 41px;
  width: 70px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-text75 {
  left: 25px;
  color: rgba(255, 255, 255, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame11-frame30 {
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-vector10 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.frame11-vector11 {
  top: 12.133203506469727px;
  left: 12.133593559265137px;
  width: 4px;
  height: 4px;
  position: absolute;
}
.frame11-text77 {
  top: 171px;
  left: 325px;
  color: rgba(255, 255, 255, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame11-frame31 {
  top: 177px;
  left: 400px;
  width: 12px;
  height: 6px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame11-line60 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 0px;
  position: absolute;
}
.frame11-line61 {
  top: 3px;
  left: 0px;
  width: 10px;
  height: 0px;
  position: absolute;
}
.frame11-line62 {
  top: 6px;
  left: 0px;
  width: 6px;
  height: 0px;
  position: absolute;
}
